.App {
  text-align: center;
}

.navi{
  display: flex;
  flex-direction: row;
  color: black;
  background-color: rgb(255, 248, 248);
  padding-bottom: 20px;
  border-bottom: solid 2px darkgray;
}

.navLink{
  text-decoration: none;
  background-color: rgb(199, 241, 225);
  color: black;
  border: solid 1px green;
  padding: 3px;
  width: 25%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.navLink:hover{
  border: dotted 1px darkgreen;
}