.Smurfs{
    background-color: lightskyblue;
    border: blue 4px dashed;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 75%;
    border-radius: 20%;
}

.Smurf{
    border: 1px solid grey;
    background-color: lightslategray;
    margin: 5px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25%;
}